.option {
  border: 1px solid black;
  background: white;
  width: 200px;
  margin: 10px;
  text-align: center;
  cursor: pointer;
}

.correct {
  background: lightseagreen;

}

.wrong {
  background: salmon;
}
